.list {
  position: relative;
  gap: 10px;
  display: flex;
}

.filter-button-wrapper {
  gap: 10px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}


.filter-button {
  font-family: Montserrat;
  width: 182px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  flex: none;
  flex-grow: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 23px;
  padding-right: 54px;
  padding-top: 8px;
  padding-bottom: 12px;
  appearance: none;
  background-image: url(images/arrow.svg);
  background-repeat: no-repeat;
  background-position: 140px 13px;
  background-color: $color-text;
}

.filtering-form {
  max-width: 448px;
  position: absolute;
  top: 56px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 36px;
  background-color: $color-text;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px;
}


.filtering-form__content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px 65px;
  max-height: 548px;
  min-width: 540px;
}


.filtering-form__fieldset {
  width: 190px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  border: none;
}

.filtering-form__fieldset_type {
  padding-right: 36px;
}


.filtering-form__legend {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.filtering-form__button {
  align-self: flex-end;
  max-width: 190px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 20px;
  min-height: 40px;
  font: inherit;
  padding: 10px 23px;
  cursor: pointer;
  background-color: $color-text;
}


.frame_1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 10px;

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
  }

  &__label::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid #888888;
    border-radius: 50%;
    position: absolute;
    left: 0;
    background-color: $color-text;
  }

  &__input:checked+.radio__label::before {
    /* читать с конца */
    border-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L7.5 0.5' stroke='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    /* при нажатии .radio__label::before активируется radio__input:checked */
  }
}



.range {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &__input {
    width: 190px;
    height: 10px;
    overflow: hidden;
    outline: none;
  }

  &__input,
  &__input::-webkit-slider-runnable-track,
  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
  }

  &__input::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #000;
  }

  &__input:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
  }

  &__input::-webkit-slider-thumb {
    position: relative;
    height: 8px;
    width: 8px;
    margin-top: -4px;
    background: #000;
    border: 1px solid #000;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1;
  }

  &__input::-webkit-slider-thumb:active {
    cursor: grabbing;
  }

  &__input:nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
  }

  &__slider {
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    height: 20px;
    width: 190px;
    display: inline-block;
    margin-top: -5px;
  }

  &__slider input {
    position: absolute;
  }

  &__label {
    font-size: 14px;
  }
}


.color-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}

.color-options__checkbox {
  width: 15px;
  height: 15px;
}


.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
  }

  &__label::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #888888;
    position: absolute;
    left: 0;
    background-color: $color-text;
  }

  &__input:checked+.checkbox__label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L9 1' stroke='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    border-color: #000;
    background-position: center;
  }


  &__label_white::before {
    background-color: $color-text;
    border-color: #808080;
  }

  &__label_black::before {
    background-color: #000;
    border-color: #000;
  }

  &__label_gray::before {
    background-color: #737373;
    border-color: #737373;
  }

  &__label_red::before {
    background-color: #f00;
    border-color: #f00;
  }

  &__label_orange::before {
    background-color: #ff4500;
    border-color: #ff4500;
  }

  &__label_yellow::before {
    background-color: #ff0;
    border-color: #ff0;
  }

  &__label_green::before {
    background-color: #008000;
    border-color: #008000;
  }

  &__label_teal::before {
    background-color: #40e0d0;
    border-color: #40e0d0;
  }

  &__label_light-blue::before {
    background-color: #009fe3;
    border-color: #009fe3;
  }

  &__label_blue::before {
    background-color: #00f;
    border-color: #00f;
  }

  &__label_purple::before {
    background-color: #800080;
    border-color: #800080;
  }

  &__label_violet::before {
    background-color: #8a2be2;
    border-color: #8a2be2;
  }

  &__label_lavender::before {
    background-color: #d89aff;
    border-color: #d89aff;
  }

  &__label_pink::before {
    background-color: #ff1493;
    border-color: #ff1493;
  }

  &__input:checked+.checkbox__label_black::before,
  &__input:checked+.checkbox__label_blue::before,
  &__input:checked+.checkbox__label_purple::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L9 1' stroke='white'/%3E%3C/svg%3E%0A");
  }
}