@media (max-width: 1024px){
    .center{
        padding-left: calc(50% - 788px/2);
        padding-right: calc(50% - 788px/2);
    }

    .for{
        &__item{
            height: 268px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

    }

   .backet{
        display: flex;
        flex-direction: column;
   }

   .order{
    padding-bottom: 148px;
    margin-left: 0;
   }

    .filtering-form{
        right: -238px;
   }
    
    
    
}

@media (max-width: 834px){
     .center{
        padding-left: 23px;
        padding-right: 23px;
     }


     .product1{
        column-gap: 29px;
        row-gap: 39px;
     }

     .footer__img{
        display: none;
    }

    .catalog{
        padding-right: 0px;
    }
   
}

@media (min-width: 376px){
    .header__icon_small{
        display: none;
    }
}