@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 76px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header__heading {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  color: #fff;
  text-decoration: none;
}
.header__input {
  width: 288px;
  height: 41px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  background-color: transparent;
  outline: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  color: #fff;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
.header__input::-moz-placeholder {
  color: #fff;
}
.header__input::placeholder {
  color: #fff;
}
.header__icon_small {
  margin-top: 32px;
  width: 343px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header__icons {
  display: flex;
  gap: 32px;
}

.top {
  height: 735px;
  background-image: url(images/back.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-catalog {
  height: 400px;
  background-image: url(images/back-catalog.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-backet {
  height: 400px;
  background-image: url(images/back-backet.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu {
  display: flex;
  gap: 32px;
}
.menu__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  color: #fff;
  text-decoration: none;
}
.menu__link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.main__house {
  max-width: 792px;
  height: 140px;
  color: #fff;
  margin-bottom: 16px;
  margin-top: 64px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
}

.main__fur {
  color: #fff;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
}

.main__catalog {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.navigation {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.choose2 {
  font-family: Montserrat;
  width: 228px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  flex: none;
  flex-grow: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 23px;
  padding-top: 8px;
  padding-bottom: 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(images/arrow.svg);
  background-repeat: no-repeat;
  background-position: 185px 13px;
}

.charset {
  gap: 10px;
  display: flex;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 41px;
}
.charset .charset__nav {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
  color: #000000;
}
.charset .charset__nav:hover {
  text-decoration: underline;
}

.for {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}
.for__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 415px;
  grid-column: span 4;
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  color: #fff;
}
.for__item_big {
  grid-column: span 6;
}
.for__item_1 {
  background-image: url(images/for-1.jpeg);
}
.for__item_2 {
  background-image: url(images/for-2.jpeg);
}
.for__item_3 {
  background-image: url(images/for-3.jpeg);
}
.for__item_4 {
  background-image: url(images/for-4.jpeg);
}
.for__item_5 {
  background-image: url(images/for-5.jpeg);
}

.spec {
  margin-top: 64PX;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.catalog, .product__more {
  padding-right: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  color: #000000;
}

.catalog:hover, .product__more:hover {
  text-decoration-line: none;
  color: #888888;
}

.catalog-products {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 48px;
  z-index: 1;
}

.products1 {
  row-gap: 56px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin-bottom: 72px;
}

.products2 {
  margin-top: 32px;
  row-gap: 56px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 378px;
}
.product__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #888888;
  padding-bottom: 12px;
}
.product__img {
  width: 100%;
}
.product__button {
  display: flex;
  gap: 23px;
}
.product__button_img {
  position: relative;
  background-color: transparent;
  border: none;
}
.product__button_img::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.product__name {
  margin-top: 10px;
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  color: #000000;
}
.product__paragraph {
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(136, 136, 136);
}
.product__price {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  color: #000000;
}
.product__noprice {
  padding-left: 32px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
  color: rgb(136, 136, 136);
}
.product__button {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}
.product:hover .product__button {
  opacity: 1;
}
.price {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.footer {
  padding-top: 32px;
  padding-bottom: 58px;
  margin-top: 64px;
  background: rgb(247, 246, 246);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__img {
  width: 198px;
  height: 44px;
}
.footer__menus {
  display: flex;
  flex-direction: column;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__name {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.footer__contact {
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}
.footer__contact:hover {
  text-decoration: underline;
}
.footer__link {
  color: rgb(136, 136, 136);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 12px;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 0;
}
.footer__social-icon {
  padding-right: 12px;
}
.footer__social-icon:hover {
  fill: #000000;
}
.footer__icon-link {
  display: inline-block;
}
.footer__icon-link:hover svg * {
  fill: #000000;
}

.form {
  display: flex;
  flex-direction: column;
}
.form .form__send {
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
.form .form__mail {
  margin-bottom: 12px;
  width: 260px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  font-family: Montserrat;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #C4C4C4;
  padding-left: 18px;
  padding-right: 18px;
  box-sizing: border-box;
}
.form .form__mail::-moz-placeholder {
  color: #C4C4C4;
}
.form .form__mail::placeholder {
  color: #C4C4C4;
}
.form .form__sub {
  font-family: Montserrat;
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 16px;
  width: 260px;
  height: 40px;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
.form .form__sub:hover {
  background: #000;
  color: #ffffff;
}

.backet {
  display: flex;
}
.backet__main {
  max-width: 792px;
  height: 140px;
  color: #fff;
  margin-bottom: 16px;
  margin-top: 128px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
}
.backet__amt {
  margin-top: 64px;
  margin-bottom: 14px;
  max-width: 756px;
  display: flex;
  justify-content: space-between;
}
.backet__products {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.backet__table {
  gap: 32px;
  display: flex;
  margin-bottom: 32px;
  width: 786px;
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 32px;
}
.backet__sofa {
  gap: 32px;
  display: flex;
  margin-bottom: 32px;
  width: 786px;
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 32px;
}
.backet__img {
  width: 173px;
}
.backet__box {
  width: 582px;
}
.backet__numbers {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 348px;
}
.backet__numbers_sofa {
  gap: 312px;
}
.backet__number {
  border-radius: 6px;
  background: rgb(247, 246, 246);
  width: 71px;
  height: 51px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.backet__name {
  margin-top: 10px;
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  color: #000000;
}
.backet__paragraph {
  width: 276px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #888888;
}
.backet__price {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 16px;
}
.backet__choose {
  gap: 30px;
  display: flex;
  margin-top: 15px;
}
.backet__choose_p {
  font-size: 14px;
  font-weight: 400;
}
.backet__button {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  width: 200px;
  height: 37px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  margin-right: 8px;
  text-decoration: none;
  color: #000000;
}
.backet__button_continue {
  padding-top: 8px;
  padding-left: 20px;
}
.backet__button:hover {
  background-color: #000000;
  color: #fff;
}
.backet__button-a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 37px;
}
.backet__buttons {
  margin-top: 18px;
  display: flex;
}

.order {
  margin-top: 64px;
  margin-left: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F7F6F6;
  border-radius: 20px;
  width: 379px;
}
.order__placing {
  font-size: 24px;
  font-weight: 700;
  padding-top: 42px;
  line-height: 29px;
}
.order__inputs {
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-top: 35px;
  margin-bottom: 64px;
}
.order__input {
  border: none;
  border-bottom: 1px solid rgb(202, 205, 216);
  width: 288px;
  background: rgb(247, 246, 246);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000000;
}
.order__input::-moz-placeholder {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000000;
}
.order__input::placeholder {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000000;
}
.order__input:focus {
  outline: none;
}
.order__button {
  margin-top: 18px;
  position: relative;
  width: 290px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: transparent;
}
.order__price {
  font-size: 24px;
  font-weight: 500;
}
.order__price_span {
  font-weight: 400;
}

.list {
  position: relative;
  gap: 10px;
  display: flex;
}

.filter-button-wrapper {
  gap: 10px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.filter-button {
  font-family: Montserrat;
  width: 182px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  flex: none;
  flex-grow: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 23px;
  padding-right: 54px;
  padding-top: 8px;
  padding-bottom: 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(images/arrow.svg);
  background-repeat: no-repeat;
  background-position: 140px 13px;
  background-color: #fff;
}

.filtering-form {
  max-width: 448px;
  position: absolute;
  top: 56px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 36px;
  background-color: #fff;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px;
}

.filtering-form__content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px 65px;
  max-height: 548px;
  min-width: 540px;
}

.filtering-form__fieldset {
  width: 190px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  border: none;
}

.filtering-form__fieldset_type {
  padding-right: 36px;
}

.filtering-form__legend {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.filtering-form__button {
  align-self: flex-end;
  max-width: 190px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 20px;
  min-height: 40px;
  font: inherit;
  padding: 10px 23px;
  cursor: pointer;
  background-color: #fff;
}

.frame_1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 10px;
}
.radio__input {
  display: none;
}
.radio__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}
.radio__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: #fff;
}
.radio__input:checked + .radio__label::before {
  /* читать с конца */
  border-color: #000;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L7.5 0.5' stroke='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  /* при нажатии .radio__label::before активируется radio__input:checked */
}

.range {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.range__input {
  width: 190px;
  height: 10px;
  overflow: hidden;
  outline: none;
}
.range__input, .range__input::-webkit-slider-runnable-track, .range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}
.range__input::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #000;
}
.range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}
.range__input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: #000;
  border: 1px solid #000;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
}
.range__input::-webkit-slider-thumb:active {
  cursor: grabbing;
}
.range__input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}
.range__slider {
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  height: 20px;
  width: 190px;
  display: inline-block;
  margin-top: -5px;
}
.range__slider input {
  position: absolute;
}
.range__label {
  font-size: 14px;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}

.color-options__checkbox {
  width: 15px;
  height: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox__input {
  display: none;
}
.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}
.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #fff;
}
.checkbox__input:checked + .checkbox__label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L9 1' stroke='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  border-color: #000;
  background-position: center;
}
.checkbox__label_white::before {
  background-color: #fff;
  border-color: #808080;
}
.checkbox__label_black::before {
  background-color: #000;
  border-color: #000;
}
.checkbox__label_gray::before {
  background-color: #737373;
  border-color: #737373;
}
.checkbox__label_red::before {
  background-color: #f00;
  border-color: #f00;
}
.checkbox__label_orange::before {
  background-color: #ff4500;
  border-color: #ff4500;
}
.checkbox__label_yellow::before {
  background-color: #ff0;
  border-color: #ff0;
}
.checkbox__label_green::before {
  background-color: #008000;
  border-color: #008000;
}
.checkbox__label_teal::before {
  background-color: #40e0d0;
  border-color: #40e0d0;
}
.checkbox__label_light-blue::before {
  background-color: #009fe3;
  border-color: #009fe3;
}
.checkbox__label_blue::before {
  background-color: #00f;
  border-color: #00f;
}
.checkbox__label_purple::before {
  background-color: #800080;
  border-color: #800080;
}
.checkbox__label_violet::before {
  background-color: #8a2be2;
  border-color: #8a2be2;
}
.checkbox__label_lavender::before {
  background-color: #d89aff;
  border-color: #d89aff;
}
.checkbox__label_pink::before {
  background-color: #ff1493;
  border-color: #ff1493;
}
.checkbox__input:checked + .checkbox__label_black::before, .checkbox__input:checked + .checkbox__label_blue::before, .checkbox__input:checked + .checkbox__label_purple::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4.5 6.5L9 1' stroke='white'/%3E%3C/svg%3E%0A");
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 394px);
    padding-right: calc(50% - 394px);
  }
  .for__item {
    height: 268px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .backet {
    display: flex;
    flex-direction: column;
  }
  .order {
    padding-bottom: 148px;
    margin-left: 0;
  }
  .filtering-form {
    right: -238px;
  }
}
@media (max-width: 834px) {
  .center {
    padding-left: 23px;
    padding-right: 23px;
  }
  .product1 {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__img {
    display: none;
  }
  .catalog, .product__more {
    padding-right: 0px;
  }
}
@media (min-width: 376px) {
  .header__icon_small {
    display: none;
  }
}
@media (max-width: 375px) {
  .main__house {
    margin-top: 82px;
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    text-align: center;
  }
  .main__fur {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding-top: 17px;
  }
  .main__catalog {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
  .header__input {
    display: none;
  }
  .logo {
    font-weight: 600;
    width: 99px;
    height: 22px;
  }
  .menu__link {
    display: none;
  }
  .header {
    border-bottom: none;
  }
  .for {
    grid-template-columns: none;
  }
  .for__item {
    font-size: 28px;
    font-weight: 600;
    background-size: 110%;
  }
  .for__item_big {
    grid-column: span 4;
  }
  .for__item_2,
  .for__item_2 {
    width: 343px;
    height: 243px;
  }
  .for__item_3,
  .for__item_4,
  .for__item_5 {
    width: 342px;
    height: 374px;
  }
  .spec {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
  }
  .form {
    margin-top: 70px;
    margin-left: 40px;
  }
  .product__name {
    font-size: 18px;
    font-weight: 500;
  }
  .product__description {
    font-size: 14px;
    font-weight: 400;
  }
  .product__price {
    font-size: 18px;
    font-weight: 500;
  }
  .product__noprice {
    font-size: 18px;
    font-weight: 500;
  }
  .catalog, .product__more {
    padding-right: 0px;
  }
  .navigation {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
  }
  .list {
    display: flex;
    flex-direction: column-reverse;
  }
  .filtering-form {
    max-width: 190px;
    left: 0;
  }
  .filtering-form__content-wrapper {
    max-height: 910px;
  }
  .filter-button-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .filtering-form__button {
    align-self: auto;
  }
  .header__logo_big {
    display: none;
  }
  .backet__main {
    place-self: center;
    margin-top: 82px;
    font-size: 48px;
    font-weight: 600;
  }
  .backet__button {
    padding: 10px 25px;
    font-size: 12px;
    font-weight: 400;
    width: 166px;
  }
  .backet__button_continue {
    padding: 10px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    width: 163px;
  }
  .backet__img {
    display: none;
  }
  .backet__table {
    width: 343px;
  }
  .backet__sofa {
    width: 343px;
  }
  .backet__numbers {
    gap: 145px;
  }
  .backet__numbers_sofa {
    gap: 110px;
  }
  .backet__name {
    font-size: 18px;
    font-weight: 500;
  }
  .backet__paragraph {
    font-size: 12px;
    font-weight: 400;
  }
  .backet__price {
    font-size: 12px;
    font-weight: 500;
  }
  .backet__choose_p {
    font-size: 14px;
    font-weight: 400;
    line-height: 210%;
  }
  .order {
    width: 343px;
  }
  .backet__amt_element {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */